@keyframes bg-scrolling-reverse {
  100% {
    background-position: 6720px 0px;
  }
}

@keyframes bg-scrolling {
  0% {
    background-position: 0px 0px;
  }
}
/* Main styles */

@font-face {
  font-family: "my-arial";
  src: url("arial.woff") format('woff');
}


body {
  margin: 0;
  padding: 0;
  color: #777777;
  text-align: center;
  background: url("nubes.jpg") repeat 0 0;
  animation: bg-scrolling-reverse 128s infinite;
  font-family: my-arial;
  animation-timing-function: linear;
}



table {

    border-collapse: collapse;
    border-style: ridge;
    width: 50%;
    height: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
}

@media only screen and (max-width: 600px) {
  table {
    width: 90%;
  }
}

thead{
    background-color: #00007e;
    color:white;
}

th, td {
    text-align: center;
}





.custom-details {
  position: relative;
 
}

.details-toggle {
  display: none;
}




#start {
  cursor: pointer;
  margin-bottom: 0px;
  background-color:#bebebe;
}

.content {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  width: 400px;
  height: 200px;
  margin-bottom: 20px;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.1s ease-out;
  opacity: 0;
}



.details-toggle:checked + .start + .content {
  transform: scaleY(1);
  opacity: 1;
}


